In [1]:
import pandas as pd
import numpy as np

In [111]:
data=pd.read_csv(r"D:\Python\nepse\NEPSE163.csv")
data.describe

<bound method NDFrame.describe of          1            285662  NUBL  25  25.1  10   98   980.00  \
0        2            285661  NUBL  25    25  10   98    980.0
1        3            285660  NUBL  32    32  10   98    980.0
2        4            285659  NUBL  32    32  10   98    980.0
3        5            285658  NUBL  32    32  10   98    980.0
4        6            285657  NUBL  32    32  10   98    980.0
...    ...               ...   ...  ..   ...  ..  ...      ...
17206  734  2019010101003047  NUBL  42    40  15  731  10965.0
17207  735  2019010101002838  NUBL  42    44  15  731  10965.0
17208  736  2019010101002837  NUBL  17    44  35  732  25620.0
17209  737  2019010101001734  NUBL  49    59  50  722  36100.0
17210  738  2019010101001733  NUBL  25    59  50  725  36250.0

                         285662.1
0                          285661
1                          285660
2                          285659
3                          285658
4                          285657
...                           ...
17206  2019-01-01 01:00:00.304700
17207  2019-01-01 01:00:00.283800
17208  2019-01-01 01:00:00.283700
17209  2019-01-01 01:00:00.173400
17210  2019-01-01 01:00:00.173300

[17211 rows x 9 columns]>

In [112]:
data.rename(columns={'285662':'buyer_id'}, inplace=True)
data.rename(columns={'25':'buyer_broker'}, inplace=True)
data.rename(columns={'25.1':'seller_broker'}, inplace=True)
data.rename(columns={'NUBL':'stoke_name'}, inplace=True)
data.rename(columns={'10':'quantity'}, inplace=True)
data.rename(columns={'98':'price_per_unit'}, inplace=True)
data.rename(columns={'980.00':'total_price'}, inplace=True)
data.rename(columns={'285662.1':'misc'}, inplace=True)

In [113]:
data

,1,buyer_id,stoke_name,buyer_broker,seller_broker,quantity,price_per_unit,total_price,misc
0,2,285661,NUBL,25,25,10,98,980.0,285661
1,3,285660,NUBL,32,32,10,98,980.0,285660
2,4,285659,NUBL,32,32,10,98,980.0,285659
3,5,285658,NUBL,32,32,10,98,980.0,285658
4,6,285657,NUBL,32,32,10,98,980.0,285657
...,...,...,...,...,...,...,...,...,...
17206,734,2019010101003047,NUBL,42,40,15,731,10965.0,2019-01-01 01:00:00.304700
17207,735,2019010101002838,NUBL,42,44,15,731,10965.0,2019-01-01 01:00:00.283800
17208,736,2019010101002837,NUBL,17,44,35,732,25620.0,2019-01-01 01:00:00.283700
17209,737,2019010101001734,NUBL,49,59,50,722,36100.0,2019-01-01 01:00:00.173400
17210,738,2019010101001733,NUBL,25,59,50,725,36250.0,2019-01-01 01:00:00.173300

In [114]:
data2=pd.read_csv(r"D:\Python\nepse\NEPSE185.csv")
data2

,1,169220,SIC,32,22,10,183,1830.00,169220.1
0,2,169219,SIC,32,13,10,183,1830.0,169219
1,3,169054,SIC,14,14,20,183,3660.0,169054
2,4,169053,SIC,21,21,20,183,3660.0,169053
3,5,169052,SIC,21,21,10,183,1830.0,169052
4,6,169051,SIC,21,21,10,183,1830.0,169051
...,...,...,...,...,...,...,...,...,...
18477,442,2019010301000666,SIC,42,28,50,1330,66500.0,2019-01-03 01:00:00.066600
18478,443,2019010301000665,SIC,16,28,50,1331,66550.0,2019-01-03 01:00:00.066500
18479,444,2019010101003222,SIC,11,35,50,1330,66500.0,2019-01-01 01:00:00.322200
18480,445,2019010101002830,SIC,16,35,50,1320,66000.0,2019-01-01 01:00:00.283000
18481,446,2019010101000945,SIC,42,41,10,1315,13150.0,2019-01-01 01:00:00.094500

In [115]:
data2.rename(columns={'169220':'buyer_id'}, inplace=True)
data2.rename(columns={'SIC':'stoke_name'}, inplace=True)
data2.rename(columns={'32':'buyer_broker'}, inplace=True)
data2.rename(columns={'22':'seller_broker'}, inplace=True)
data2.rename(columns={'10':'quantity'}, inplace=True)
data2.rename(columns={'183':'price_per_unit'}, inplace=True)
data2.rename(columns={'1830.00':'total_price'}, inplace=True)
data2.rename(columns={'169220.1':'misc'}, inplace=True)

In [116]:
data2

,1,buyer_id,stoke_name,buyer_broker,seller_broker,quantity,price_per_unit,total_price,misc
0,2,169219,SIC,32,13,10,183,1830.0,169219
1,3,169054,SIC,14,14,20,183,3660.0,169054
2,4,169053,SIC,21,21,20,183,3660.0,169053
3,5,169052,SIC,21,21,10,183,1830.0,169052
4,6,169051,SIC,21,21,10,183,1830.0,169051
...,...,...,...,...,...,...,...,...,...
18477,442,2019010301000666,SIC,42,28,50,1330,66500.0,2019-01-03 01:00:00.066600
18478,443,2019010301000665,SIC,16,28,50,1331,66550.0,2019-01-03 01:00:00.066500
18479,444,2019010101003222,SIC,11,35,50,1330,66500.0,2019-01-01 01:00:00.322200
18480,445,2019010101002830,SIC,16,35,50,1320,66000.0,2019-01-01 01:00:00.283000
18481,446,2019010101000945,SIC,42,41,10,1315,13150.0,2019-01-01 01:00:00.094500

In [117]:
dp = pd.concat([data, data2], axis=0)

In [118]:
dp

,1,buyer_id,stoke_name,buyer_broker,seller_broker,quantity,price_per_unit,total_price,misc
0,2,285661,NUBL,25,25,10,98,980.0,285661
1,3,285660,NUBL,32,32,10,98,980.0,285660
2,4,285659,NUBL,32,32,10,98,980.0,285659
3,5,285658,NUBL,32,32,10,98,980.0,285658
4,6,285657,NUBL,32,32,10,98,980.0,285657
...,...,...,...,...,...,...,...,...,...
18477,442,2019010301000666,SIC,42,28,50,1330,66500.0,2019-01-03 01:00:00.066600
18478,443,2019010301000665,SIC,16,28,50,1331,66550.0,2019-01-03 01:00:00.066500
18479,444,2019010101003222,SIC,11,35,50,1330,66500.0,2019-01-01 01:00:00.322200
18480,445,2019010101002830,SIC,16,35,50,1320,66000.0,2019-01-01 01:00:00.283000
18481,446,2019010101000945,SIC,42,41,10,1315,13150.0,2019-01-01 01:00:00.094500

In [119]:
data3=pd.read_csv(r"D:\Python\nepse\NEPSE154.csv")

In [121]:
data3

,1,201303000000000,CHCL,10,33,500,1160,580000.00,201303000000000.1
0,2,201303000000000,CHCL,26,33,18,1155.0,20790.0,201303000000000
1,3,201303000000000,CHCL,10,33,12,1157.0,13884.0,201303000000000
2,4,201303000000000,CHCL,11,33,12,1158.0,13896.0,201303000000000
3,5,201303000000000,CHCL,19,33,84,1159.0,97356.0,201303000000000
4,6,201303000000000,CHCL,32,33,12,1160.0,13920.0,201303000000000
...,...,...,...,...,...,...,...,...,...
124888,2437,2019010101000230,CHCL,19,36,74,690.0,51060.0,2019-01-01 01:00:00.023000
124889,2438,2019010101000219,CHCL,1,36,126,690.0,86940.0,2019-01-01 01:00:00.021900
124890,2439,2019010101000214,CHCL,54,3,150,695.0,104250.0,2019-01-01 01:00:00.021400
124891,2440,2019010101000145,CHCL,1,10,174,695.0,120930.0,2019-01-01 01:00:00.014500
124892,2441,2019010101000123,CHCL,45,10,35,695.0,24325.0,2019-01-01 01:00:00.012300

In [2]:
import os
path=r"D:\Python\nepse"

In [3]:
path

'D:\\Python\\nepse'

In [35]:
files=os.listdir(path)
files

['NEPSE131.csv',
 'NEPSE132.csv',
 'NEPSE133.csv',
 'NEPSE134.csv',
 'NEPSE135.csv',
 'NEPSE136.csv',
 'NEPSE137.csv',
 'NEPSE138.csv',
 'NEPSE139.csv',
 'NEPSE140.csv',
 'NEPSE141.csv',
 'NEPSE142.csv',
 'NEPSE144.csv',
 'NEPSE145.csv',
 'NEPSE147.csv',
 'NEPSE148.csv',
 'NEPSE149.csv',
 'NEPSE151.csv',
 'NEPSE152.csv',
 'NEPSE153.csv',
 'NEPSE154.csv',
 'NEPSE155.csv',
 'NEPSE156.csv',
 'NEPSE158.csv',
 'NEPSE159.csv',
 'NEPSE160.csv',
 'NEPSE163.csv',
 'NEPSE164.csv',
 'NEPSE166.csv',
 'NEPSE171.csv',
 'NEPSE172.csv',
 'NEPSE1733.csv',
 'NEPSE174.csv',
 'NEPSE1740.csv',
 'NEPSE1741.csv',
 'NEPSE176.csv',
 'NEPSE177.csv',
 'NEPSE178.csv',
 'NEPSE179.csv',
 'NEPSE180.csv',
 'NEPSE181.csv',
 'NEPSE182.csv',
 'NEPSE183.csv',
 'NEPSE184.csv',
 'NEPSE185.csv',
 'NEPSE186.csv',
 'NEPSE187.csv',
 'NEPSE188.csv',
 'NEPSE189.csv',
 'NEPSE190.csv',
 'NEPSE192.csv',
 'NEPSE194.csv',
 'NEPSE195.csv',
 'NEPSE198.csv',
 'NEPSE200.csv',
 'NEPSE202.csv',
 'NEPSE203.csv',
 'NEPSE204.csv',
 'NEPSE205.csv',
 'NEPSE207.csv',
 'NEPSE209.csv',
 'NEPSE210.csv',
 'NEPSE211.csv',
 'NEPSE213.csv',
 'NEPSE215.csv',
 'NEPSE217.csv',
 'NEPSE219.csv',
 'NEPSE221.csv',
 'NEPSE222.csv',
 'NEPSE226.csv',
 'NEPSE227.csv',
 'NEPSE230.csv',
 'NEPSE231.csv',
 'NEPSE232.csv',
 'NEPSE233.csv',
 'NEPSE235.csv',
 'NEPSE236.csv',
 'NEPSE238.csv',
 'NEPSE242.csv',
 'NEPSE244.csv',
 'NEPSE245.csv',
 'NEPSE249.csv',
 'NEPSE250.csv',
 'NEPSE255.csv',
 'NEPSE256.csv',
 'NEPSE259.csv',
 'NEPSE261.csv',
 'NEPSE263.csv',
 'NEPSE268.csv',
 'NEPSE273.csv',
 'NEPSE274.csv',
 'NEPSE2742.csv',
 'NEPSE2743.csv',
 'NEPSE2744.csv',
 'NEPSE2746.csv',
 'NEPSE2748.csv',
 'NEPSE2750.csv',
 'NEPSE2751.csv',
 'NEPSE2752.csv',
 'NEPSE2753.csv',
 'NEPSE2754.csv',
 'NEPSE2755.csv',
 'NEPSE2757.csv',
 'NEPSE2758.csv',
 'NEPSE2759.csv',
 'NEPSE2760.csv',
 'NEPSE2761.csv',
 'NEPSE2764.csv',
 'NEPSE2765.csv',
 'NEPSE2766.csv',
 'NEPSE2767.csv',
 'NEPSE2768.csv',
 'NEPSE2769.csv',
 'NEPSE277.csv',
 'NEPSE2770.csv',
 'NEPSE2771.csv',
 'NEPSE2773.csv',
 'NEPSE2774.csv',
 'NEPSE2776.csv',
 'NEPSE2777.csv',
 'NEPSE2779.csv',
 'NEPSE2780.csv',
 'NEPSE2781.csv',
 'NEPSE2783.csv',
 'NEPSE2784.csv',
 'NEPSE2786.csv',
 'NEPSE2787.csv',
 'NEPSE2788.csv',
 'NEPSE2789.csv',
 'NEPSE2790.csv',
 'NEPSE2792.csv',
 'NEPSE280.csv',
 'NEPSE2804.csv',
 'NEPSE2806.csv',
 'NEPSE2807.csv',
 'NEPSE2809.csv',
 'NEPSE2810.csv',
 'NEPSE296.csv',
 'NEPSE307.csv',
 'NEPSE311.csv',
 'NEPSE338.csv',
 'NEPSE341.csv',
 'NEPSE348.csv',
 'NEPSE357.csv',
 'NEPSE358.csv',
 'NEPSE359.csv',
 'NEPSE360.csv',
 'NEPSE361.csv',
 'NEPSE371.csv',
 'NEPSE385.csv',
 'NEPSE393.csv',
 'NEPSE396.csv',
 'NEPSE397.csv',
 'NEPSE398.csv',
 'NEPSE401.csv',
 'NEPSE403.csv',
 'NEPSE417.csv',
 'NEPSE418.csv',
 'NEPSE419.csv',
 'NEPSE420.csv',
 'NEPSE421.csv',
 'NEPSE427.csv',
 'NEPSE428.csv',
 'NEPSE441.csv',
 'NEPSE442.csv',
 'NEPSE445.csv',
 'NEPSE447.csv',
 'NEPSE450.csv',
 'NEPSE451.csv',
 'NEPSE459.csv',
 'NEPSE471.csv',
 'NEPSE472.csv',
 'NEPSE473.csv',
 'NEPSE474.csv',
 'NEPSE487.csv',
 'NEPSE490.csv',
 'NEPSE496.csv',
 'NEPSE502.csv',
 'NEPSE505.csv',
 'NEPSE516.csv',
 'NEPSE517.csv',
 'NEPSE532.csv',
 'NEPSE545.csv',
 'NEPSE559.csv',
 'NEPSE561.csv',
 'NEPSE562.csv',
 'NEPSE570.csv',
 'NEPSE574.csv',
 'NEPSE575.csv',
 'NEPSE576.csv',
 'NEPSE577.csv',
 'NEPSE583.csv',
 'NEPSE587.csv',
 'NEPSE591.csv',
 'NEPSE592.csv',
 'NEPSE593.csv',
 'NEPSE598.csv',
 'NEPSE601.csv',
 'NEPSE602.csv',
 'NEPSE605.csv',
 'NEPSE610.csv',
 'NEPSE616.csv',
 'NEPSE618.csv',
 'NEPSE625.csv',
 'NEPSE629.csv',
 'NEPSE636.csv',
 'NEPSE674.csv',
 'NEPSE682.csv',
 'NEPSE686.csv',
 'NEPSE687.csv',
 'NEPSE691.csv',
 'NEPSE693.csv',
 'NEPSE694.csv',
 'NEPSE695.csv',
 'NEPSE697.csv',
 'NEPSE704.csv',
 'NEPSE705.csv',
 'NEPSE706.csv']

In [5]:
len(files)

219

In [14]:
ini=r"D:\Python\nepse\desktop.ini"

In [15]:
os.remove(ini)

In [29]:
data_iti=[]
for x in range(len(files)):
    join=os.path.join(path, files[x])
    df=pd.read_csv(join, header=None)
    data_iti.append(df)

In [36]:
data_iti

[          0                 1      2   3   4     5     6          7  \
 0         1            126566  NABIL  24  24   105  1880   197400.0
 1         2            126539  NABIL   1   5    15  1880    28200.0
 2         3            126455  NABIL  28  28   260  1900   494000.0
 3         4            126454  NABIL  28  28   130  1900   247000.0
 4         5            126376  NABIL   3  20  1000  1850  1850000.0
 ...     ...               ...    ...  ..  ..   ...   ...        ...
 95139  4292  2019010101000426  NABIL  46  38    30   863    25890.0
 95140  4293  2019010101000364  NABIL  42   3   300   863   258900.0
 95141  4294  2019010101000274  NABIL  45   3    50   863    43150.0
 95142  4295  2019010101000160  NABIL   1   3   425   861   365925.0
 95143  4296  2019010101000159  NABIL  45   3    25   861    21525.0

                                 8
 0                          126566
 1                          126539
 2                          126455
 3                          126454
 4                          126376
 ...                           ...
 95139  2019-01-01 01:00:00.042600
 95140  2019-01-01 01:00:00.036400
 95141  2019-01-01 01:00:00.027400
 95142  2019-01-01 01:00:00.016000
 95143  2019-01-01 01:00:00.015900

 [95144 rows x 9 columns],
            0                 1    2   3   4    5     6         7  \
 0          1            126596  NIB   6   6   45  2400  108000.0
 1          2            126456  NIB  25  25   45  2415  108675.0
 2          3            126336  NIB   6  14   45  2415  108675.0
 3          4            126264  NIB  25  25   38  2400   91200.0
 4          5            126263  NIB  25  25   15  2400   36000.0
 ...      ...               ...  ...  ..  ..  ...   ...       ...
 170415  5832  2019010101000295  NIB  42  42   40   562   22480.0
 170416  5833  2019010101000141  NIB  41  41   49   560   27440.0
 170417  5834  2019010101000140  NIB  51  41   11   560    6160.0
 170418  5835  2019010101000136  NIB  51  41   50   560   28000.0
 170419  5836  2019010101000098  NIB  51   1  100   560   56000.0

                                  8
 0                           126596
 1                           126456
 2                           126336
 3                           126264
 4                           126263
 ...                            ...
 170415  2019-01-01 01:00:00.029500
 170416  2019-01-01 01:00:00.014100
 170417  2019-01-01 01:00:00.014000
 170418  2019-01-01 01:00:00.013600
 170419  2019-01-01 01:00:00.009800

 [170420 rows x 9 columns],
            0                 1    2   3   4   5     6         7  \
 0          1            126552  SCB  14  10  23  2750   63250.0
 1          2            126551  SCB  14  10  23  2750   63250.0
 2          3            126550  SCB  14  10  23  2750   63250.0
 3          4            126549  SCB  14  10  23  2750   63250.0
 4          5            126460  SCB  30  30  60  2780  166800.0
 ...      ...               ...  ...  ..  ..  ..   ...       ...
 133398  4152  2019010101000541  SCB  49  42  20   621   12420.0
 133399  4153  2019010101000514  SCB  45   7  40   622   24880.0
 133400  4154  2019010101000368  SCB  22  56  71   625   44375.0
 133401  4155  2019010101000367  SCB  22  56  74   625   46250.0
 133402  4156  2019010101000282  SCB  22  49  20   620   12400.0

                                  8
 0                           126552
 1                           126551
 2                           126550
 3                           126549
 4                           126460
 ...                            ...
 133398  2019-01-01 01:00:00.054100
 133399  2019-01-01 01:00:00.051400
 133400  2019-01-01 01:00:00.036800
 133401  2019-01-01 01:00:00.036700
 133402  2019-01-01 01:00:00.028200

 [133403 rows x 9 columns],
           0                 1    2   3   4    5     6         7  \
 0         1            126461  HBL  26  26   40  2601  104040.0
 1         2            126420  HBL  21  22   25  2600   65000.0
 2         3            126353  HBL  21  28   25  2600   65000.0
 3         4            126352  HBL   5  28   25  2600   65000.0
 4         5            126351  HBL  12  18   15  2600   39000.0
 ...     ...               ...  ...  ..  ..  ...   ...       ...
 45652  1017  2019010101001110  HBL  57   5  400   473  189200.0
 45653  1018  2019010101001109  HBL  58   5  100   473   47300.0
 45654  1019  2019010101001064  HBL  58  35  100   475   47500.0
 45655  1020  2019010101001055  HBL  41  34   10   478    4780.0
 45656  1021  2019010101000903  HBL  58  34  100   478   47800.0

                                 8
 0                          126461
 1                          126420
 2                          126353
 3                          126352
 4                          126351
 ...                           ...
 45652  2019-01-01 01:00:00.111000
 45653  2019-01-01 01:00:00.110900
 45654  2019-01-01 01:00:00.106400
 45655  2019-01-01 01:00:00.105500
 45656  2019-01-01 01:00:00.090300

 [45657 rows x 9 columns],
           0                 1    2   3   4   5     6        7  \
 0         1            126607  SBI  14   6  40  2301  92040.0
 1         2            126606  SBI  14   6  10  2301  23010.0
 2         3            126605  SBI  14   6  10  2301  23010.0
 3         4            126604  SBI  14   6  10  2301  23010.0
 4         5            126603  SBI  14  18  10  2301  23010.0
 ...     ...               ...  ...  ..  ..  ..   ...      ...
 72736  1733  2019010101000521  SBI  34  33  26   430  11180.0
 72737  1734  2019010101000446  SBI  13  33  10   427   4270.0
 72738  1735  2019010101000273  SBI  43  20  21   425   8925.0
 72739  1736  2019010101000222  SBI  11  21  56   425  23800.0
 72740  1737  2019010101000221  SBI  11  17  34   425  14450.0

                                 8
 0                          126607
 1                          126606
 2                          126605
 3                          126604
 4                          126603
 ...                           ...
 72736  2019-01-01 01:00:00.052100
 72737  2019-01-01 01:00:00.044600
 72738  2019-01-01 01:00:00.027300
 72739  2019-01-01 01:00:00.022200
 72740  2019-01-01 01:00:00.022100

 [72741 rows x 9 columns],
            0                 1    2   3   4    5     6         7  \
 0          1            126590  NBB  20   6   10  2915   29150.0
 1          2            126589  NBB  18  32   10  2925   29250.0
 2          3            126575  NBB  15  15   10  2940   29400.0
 3          4            126574  NBB  14  14   10  2940   29400.0
 4          5            126573  NBB  14  14   10  2940   29400.0
 ...      ...               ...  ...  ..  ..  ...   ...       ...
 177204  3750  2019010101000858  NBB  17  26  200   194   38800.0
 177205  3751  2019010101000725  NBB  14  26  500   194   97000.0
 177206  3752  2019010101000724  NBB   6  26  300   194   58200.0
 177207  3753  2019010101000594  NBB  53   1  528   195  102960.0
 177208  3754  2019010101000593  NBB  53  17  566   195  110370.0

                                  8
 0                           126590
 1                           126589
 2                           126575
 3                           126574
 4                           126573
 ...                            ...
 177204  2019-01-01 01:00:00.085800
 177205  2019-01-01 01:00:00.072500
 177206  2019-01-01 01:00:00.072400
 177207  2019-01-01 01:00:00.059400
 177208  2019-01-01 01:00:00.059300

 [177209 rows x 9 columns],
            0                 1    2   3   4    5     6         7  \
 0          1            126563  EBL  14  24   10  1200   12000.0
 1          2            126562  EBL  14  24   10  1200   12000.0
 2          3            126561  EBL  14  10   10  1200   12000.0
 3          4            126477  EBL  32  32   50  1240   62000.0
 4          5            126476  EBL   1   1   20  1205   24100.0
 ...      ...               ...  ...  ..  ..  ...   ...       ...
 139801  3784  2019010101000354  EBL  42  38   11   547    6017.0
 139802  3785  2019010101000352  EBL  46  52  301   546  164346.0
 139803  3786  2019010101000298  EBL  49  32   50   548   27400.0
 139804  3787  2019010101000271  EBL  48  32  100   548   54800.0
 139805  3788  2019010101000249  EBL  14  28   50   545   27250.0

                                  8
 0                           126563
 1                           126562
 2                           126561
 3                           126477
 4                           126476
 ...                            ...
 139801  2019-01-01 01:00:00.035400
 139802  2019-01-01 01:00:00.035200
 139803  2019-01-01 01:00:00.029800
 139804  2019-01-01 01:00:00.027100
 139805  2019-01-01 01:00:00.024900

 [139806 rows x 9 columns],
           0                 1     2   3   4    5    6         7  \
 0         1   201612294226248  BOKL  37  32  300  614  184200.0
 1         2   201612294226252  BOKL  37  38  200  613  122600.0
 2         3   201612294226253  BOKL   6  32   30  614   18420.0
 3         4   201612294226254  BOKL   6  13  300  614  184200.0
 4         5   201612294226256  BOKL  37  19  520  613  318760.0
 ...     ...               ...   ...  ..  ..  ...  ...       ...
 52720  4020  2019010101001004  BOKL  17  41  200  330   66000.0
 52721  4021  2019010101001003  BOKL  40  41   30  330    9900.0
 52722  4022  2019010101000824  BOKL  41   1  191  330   63030.0
 52723  4023  2019010101000736  BOKL  26   1  700  331  231700.0
 52724  4024  2019010101000735  BOKL  35   1   30  331    9930.0

                                 8
 0      2016-12-29 04:22:00.624800
 1      2016-12-29 04:22:00.625200
 2      2016-12-29 04:22:00.625300
 3      2016-12-29 04:22:00.625400
 4      2016-12-29 04:22:00.625600
 ...                           ...
 52720  2019-01-01 01:00:00.100400
 52721  2019-01-01 01:00:00.100300
 52722  2019-01-01 01:00:00.082400
 52723  2019-01-01 01:00:00.073600
 52724  2019-01-01 01:00:00.073500

 [52725 rows x 9 columns],
           0                 1     2   3   4    5    6         7  \
 0         1   201312311712796  NICA  29  44  450  806  362700.0
 1         2   201312311712738  NICA  25  32  291  805  234255.0
 2         3   201312311712721  NICA  38  36  580  805  466900.0
 3         4   201312311712648  NICA  29  50   50  806   40300.0
 4         5   201312311712616  NICA  29  13  100  806   80600.0
 ...     ...               ...   ...  ..  ..  ...  ...       ...
 95036  5804  2019010101000800  NICA  41  59   87  380   33060.0
 95037  5805  2019010101000799  NICA  11  59  150  380   57000.0
 95038  5806  2019010101000502  NICA  46  47   23  383    8809.0
 95039  5807  2019010101000472  NICA  46  28  106  380   40280.0
 95040  5808  2019010101000350  NICA  48  25   20  380    7600.0

                                 8
 0      2013-12-31 17:12:00.796000
 1      2013-12-31 17:12:00.738000
 2      2013-12-31 17:12:00.721000
 3      2013-12-31 17:12:00.648000
 4      2013-12-31 17:12:00.616000
 ...                           ...
 95036  2019-01-01 01:00:00.080000
 95037  2019-01-01 01:00:00.079900
 95038  2019-01-01 01:00:00.050200
 95039  2019-01-01 01:00:00.047200
 95040  2019-01-01 01:00:00.035000

 [95041 rows x 9 columns],
           0                 1    2   3   4    5      6         7  \
 0         1   201303000000000  MBL  29   1  500  228.0  114000.0
 1         2   201303000000000  MBL  39  19  196  229.0   44884.0
 2         3   201303000000000  MBL  55   1  250  228.0   57000.0
 3         4   201303000000000  MBL  55  14  612  228.0  139536.0
 4         5   201303000000000  MBL  37  39  100  229.0   22900.0
 ...     ...               ...  ...  ..  ..  ...    ...       ...
 88267  3265  2019010101000533  MBL  25  16  181  205.0   37105.0
 88268  3266  2019010101000448  MBL  25  28  119  205.0   24395.0
 88269  3267  2019010101000447  MBL  42  28   75  206.0   15450.0
 88270  3268  2019010101000439  MBL  42  28  312  206.0   64272.0
 88271  3269  2019010101000387  MBL  42   1  800  206.0  164800.0

                                 8
 0                 201303000000000
 1                 201303000000000
 2                 201303000000000
 3                 201303000000000
 4                 201303000000000
 ...                           ...
 88267  2019-01-01 01:00:00.053300
 88268  2019-01-01 01:00:00.044800
 88269  2019-01-01 01:00:00.044700
 88270  2019-01-01 01:00:00.043900
 88271  2019-01-01 01:00:00.038700

 [88272 rows x 9 columns],
           0                 1    2   3   4    5      6        7  \
 0         1   201303000000000  LBL  45   5  111  338.0  37518.0
 1         2   201303000000000  LBL  33  33   83  344.0  28552.0
 2         3   201303000000000  LBL  33  33   83  344.0  28552.0
 3         4   201303000000000  LBL  33  33   83  344.0  28552.0
 4         5   201303000000000  LBL  45  18   38  340.0  12920.0
 ...     ...               ...  ...  ..  ..  ...    ...      ...
 88565  2579  2019010101000573  LBL   6  34   75  225.0  16875.0
 88566  2580  2019010101000572  LBL   6  44   19  225.0   4275.0
 88567  2581  2019010101000571  LBL   6  44  106  224.0  23744.0
 88568  2582  2019010101000509  LBL  41  35  360  222.0  79920.0
 88569  2583  2019010101000508  LBL  13  35   40  223.0   8920.0

                                 8
 0                 201303000000000
 1                 201303000000000
 2                 201303000000000
 3                 201303000000000
 4                 201303000000000
 ...                           ...
 88565  2019-01-01 01:00:00.057300
 88566  2019-01-01 01:00:00.057200
 88567  2019-01-01 01:00:00.057100
 88568  2019-01-01 01:00:00.050900
 88569  2019-01-01 01:00:00.050800

 [88570 rows x 9 columns],
            0                 1    2   3   4    5      6         7  \
 0          1   201303000000000  KBL   8  45  500  284.0  142000.0
 1          2   201303000000000  KBL  11  16  100  285.0   28500.0
 2          3   201303000000000  KBL  22  38  100  285.0   28500.0
 3          4   201303000000000  KBL  11  38  200  285.0   57000.0
 4          5   201303000000000  KBL  11  38  200  285.0   57000.0
 ...      ...               ...  ...  ..  ..  ...    ...       ...
 124851  3124  2019010101000324  KBL  50  50   40  250.0   10000.0
 124852  3125  2019010101000323  KBL  50   1  160  249.0   39840.0
 124853  3126  2019010101000091  KBL  20  33  300  247.0   74100.0
 124854  3127  2019010101000077  KBL  33  33  300  247.0   74100.0
 124855  3128  2019010101000063  KBL  53  25   83  246.0   20418.0

                                  8
 0                  201303000000000
 1                  201303000000000
 2                  201303000000000
 3                  201303000000000
 4                  201303000000000
 ...                            ...
 124851  2019-01-01 01:00:00.032400
 124852  2019-01-01 01:00:00.032300
 124853  2019-01-01 01:00:00.009100
 124854  2019-01-01 01:00:00.007700
 124855  2019-01-01 01:00:00.006300

 [124856 rows x 9 columns],
           0                 1     2   3   4      5    6          7  \
 0         1   201303000000000  NCCB  56  56   4000  239   956000.0
 1         2   201303000000000  NCCB   5   5     50  239    11950.0
 2         3   201303000000000  NCCB  33  17    200  236    47200.0
 3         4   201303000000000  NCCB   5   5    220  239    52580.0
 4         5   201303000000000  NCCB  10  10     10  239     2390.0
 ...     ...               ...   ...  ..  ..    ...  ...        ...
 86266  5600  2019010101000385  NCCB  37  34   1000  213   213000.0
 86267  5601  2019010101000203  NCCB  26  47    100  214    21400.0
 86268  5602  2019010101000095  NCCB   7   7  11500  212  2438000.0
 86269  5603  2019010101000065  NCCB   1  13    155  212    32860.0
 86270  5604  2019010101000064  NCCB   1  28    450  212    95400.0

                                 8
 0                 201303000000000
 1                 201303000000000
 2                 201303000000000
 3                 201303000000000
 4                 201303000000000
 ...                           ...
 86266  2019-01-01 01:00:00.038500
 86267  2019-01-01 01:00:00.020300
 86268  2019-01-01 01:00:00.009500
 86269  2019-01-01 01:00:00.006500
 86270  2019-01-01 01:00:00.006400

 [86271 rows x 9 columns],
            0                 1    2   3   4    5      6         7  \
 0          1   201303000000000  SBL  45  10  100  306.0   30600.0
 1          2   201303000000000  SBL  11  10  100  307.0   30700.0
 2          3   201303000000000  SBL  11  11  174  306.0   53244.0
 3          4   201303000000000  SBL  11  47  141  306.0   43146.0
 4          5   201303000000000  SBL  10  10  300  310.0   93000.0
 ...      ...               ...  ...  ..  ..  ...    ...       ...
 113818  2609  2019010101000895  SBL  29  42   20  293.0    5860.0
 113819  2610  2019010101000807  SBL  42  40  173  294.0   50862.0
 113820  2611  2019010101000732  SBL  42   1  827  294.0  243138.0
 113821  2612  2019010101000731  SBL  32   1  500  294.0  147000.0
 113822  2613  2019010101000496  SBL  53  49  200  295.0   59000.0

                                  8
 0                  201303000000000
 1                  201303000000000
 2                  201303000000000
 3                  201303000000000
 4                  201303000000000
 ...                            ...
 113818  2019-01-01 01:00:00.089500
 113819  2019-01-01 01:00:00.080700
 113820  2019-01-01 01:00:00.073200
 113821  2019-01-01 01:00:00.073100
 113822  2019-01-01 01:00:00.049600

 [113823 rows x 9 columns],
          0                 1    2   3   4     5      6         7  \
 0        1            125983  SHL   6   3   100  182.0   18200.0
 1        2            125874  SHL   6  21   133  180.0   23940.0
 2        3            125873  SHL   6  25   267  175.0   46725.0
 3        4            125826  SHL   3  25  1333  175.0  233275.0
 4        5            125825  SHL  18  25   100  175.0   17500.0
 ...    ...               ...  ...  ..  ..   ...    ...       ...
 18271  452  2019010201000295  SHL  40  45   100  204.0   20400.0
 18272  453  2019010101003464  SHL  36  25   120  203.0   24360.0
 18273  454  2019010101002756  SHL  17  14   800  202.0  161600.0
 18274  455  2019010101002755  SHL  22  14   300  203.0   60900.0
 18275  456  2019010101001318  SHL  45  44   100  205.0   20500.0

                                 8
 0                          125983
 1                          125874
 2                          125873
 3                          125826
 4                          125825
 ...                           ...
 18271  2019-01-02 01:00:00.029500
 18272  2019-01-01 01:00:00.346400
 18273  2019-01-01 01:00:00.275600
 18274  2019-01-01 01:00:00.275500
 18275  2019-01-01 01:00:00.131800

 [18276 rows x 9 columns],
          0                 1    2   3   4    5      6        7  \
 0        1            126518  TRH  22  22   20  150.0   3000.0
 1        2            126517  TRH  22  22   10  150.0   1500.0
 2        3            126516  TRH  22  22   10  150.0   1500.0
 3        4            126515  TRH  22  22   10  150.0   1500.0
 4        5            126512  TRH  22  22   60  150.0   9000.0
 ...    ...               ...  ...  ..  ..  ...    ...      ...
 14366  333  2019010201002033  TRH  47  48  200  244.0  48800.0
 14367  334  2019010201002026  TRH  47  48  200  245.0  49000.0
 14368  335  2019010201001488  TRH  33  48   10  250.0   2500.0
 14369  336  2019010201001094  TRH  33  13   10  248.0   2480.0
 14370  337  2019010101003298  TRH  33   5   10  245.0   2450.0

                                 8
 0                          126518
 1                          126517
 2                          126516
 3                          126515
 4                          126512
 ...                           ...
 14366  2019-01-02 01:00:00.203300
 14367  2019-01-02 01:00:00.202600
 14368  2019-01-02 01:00:00.148800
 14369  2019-01-02 01:00:00.109400
 14370  2019-01-01 01:00:00.329800

 [14371 rows x 9 columns],

In [31]:
data_concat=pd.concat(data_iti)

In [32]:
data_concat

,0,1,2,3,4,5,6,7,8
0,1,126566,NABIL,24,24,105,1880.0,197400.0,126566
1,2,126539,NABIL,1,5,15,1880.0,28200.0,126539
2,3,126455,NABIL,28,28,260,1900.0,494000.0,126455
3,4,126454,NABIL,28,28,130,1900.0,247000.0,126454
4,5,126376,NABIL,3,20,1000,1850.0,1850000.0,126376
...,...,...,...,...,...,...,...,...,...
14964,1023,2019010101002827,WOMI,39,39,1,945.0,945.0,2019-01-01 01:00:00.282700
14965,1024,2019010101002818,WOMI,39,39,1,945.0,945.0,2019-01-01 01:00:00.281800
14966,1025,2019010101002803,WOMI,39,39,1,945.0,945.0,2019-01-01 01:00:00.280300
14967,1026,2019010101002039,WOMI,33,38,10,953.0,9530.0,2019-01-01 01:00:00.203900
14968,1027,2019010101000450,WOMI,17,38,20,935.0,18700.0,2019-01-01 01:00:00.045000

In [ ]:
data_concat.to_csv('all nepse merged.csv')

data=[]
for x in range(len(files)):
    join=os.path.join(path, files[x])
    df=pd.read_csv(join)
    data.append(df)

pd.DataFrame(data)

In [10]:
#final=pd.concat(data, ignore_index=True)